TripAdvisor European Restaurants

In [1]:
# Import
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.io as pio


df = pd.read_csv("dataset/tripadvisor_european_restaurants.csv")
df

/var/folders/1b/2w28pdmn0snbf63gbfjnmmw40000gn/T/ipykernel_1472/2123099887.py:8: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("dataset/tripadvisor_european_restaurants.csv")

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083392,g9710275-d10770782,Complex Popas Pacurari,"[""Europe"", ""Romania"", ""Northeast Romania"", ""Ia...",Romania,Northeast Romania,Iasi County,NaN,"Soseaua Pacurari, Valea Lupului 707410 Romania",47.172950,27.519110,...,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
1083393,g9716321-d15026574,Casa Pastravarului DORIPESCO,"[""Europe"", ""Romania"", ""Transylvania"", ""Central...",Romania,Transylvania,Brasov County,Apata,"DN 13 Judetul Kilometrul 33 Maierus, Apata 507...",45.904423,25.470509,...,0.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN
1083394,g9722813-d15891057,Hanul Tentea,"[""Europe"", ""Romania"", ""Transylvania"", ""Northwe...",Romania,Transylvania,Maramures County,Sacel,"DN17C, Sacel Romania",47.631920,24.450910,...,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
1083395,g9726871-d21391722,Casa Paduraru,"[""Europe"", ""Romania"", ""Southern Romania"", ""Arg...",Romania,Southern Romania,Arges County,NaN,"Sat. Argeselu Numarul 432, Maracineni 117450 R...",44.918950,24.867634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083396,g9867250-d14979687,Pastravaria Alina Sarbi,"[""Europe"", ""Romania"", ""Transylvania"", ""Northwe...",Romania,Transylvania,Maramures County,Budesti,"Str. Principala Nr 166A, Budesti 437071 Romania",47.752220,23.938343,...,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN

In [8]:
conteggio = df["country"].value_counts().reset_index()
conteggio

             country   count
0              Italy  224763
1              Spain  157479
2             France  155288
3            England  144681
4            Germany  115333
5             Greece   33763
6           Portugal   32592
7    The Netherlands   29792
8             Poland   24698
9            Belgium   23711
10           Austria   20487
11            Sweden   18555
12    Czech Republic   14844
13          Scotland   14215
14           Ireland   11203
15           Denmark    9485
16             Wales    9134
17           Croatia    8375
18           Romania    7842
19           Hungary    7431
20           Finland    7372
21          Bulgaria    4469
22          Slovakia    4251
23  Northern Ireland    3634